In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Income_Train.csv')
test  = pd.read_csv('Income_Test.csv')

In [4]:
df.describe()

,Sr.No.,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,Unnamed: 15
count,39073.000000,39073.000000,3.907300e+04,39073.000000,39073.000000,39073.000000,39073.000000,0.0
mean,24387.500166,38.633379,1.895564e+05,10.085353,1133.790955,87.251606,40.390269,NaN
std,14111.135584,13.705528,1.055786e+05,2.573959,7770.463461,403.025278,12.365225,NaN
min,0.000000,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000,NaN
25%,12094.000000,28.000000,1.175090e+05,9.000000,0.000000,0.000000,40.000000,NaN
50%,24386.000000,37.000000,1.779550e+05,10.000000,0.000000,0.000000,40.000000,NaN
75%,36627.000000,48.000000,2.369900e+05,12.000000,0.000000,0.000000,45.000000,NaN
max,48839.000000,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39073 entries, 0 to 39072
Data columns (total 17 columns):
Sr.No.             39073 non-null int64
age                39073 non-null int64
workclass          39073 non-null object
fnlwgt             39073 non-null int64
education          39073 non-null object
educational-num    39073 non-null int64
marital-status     39073 non-null object
occupation         39073 non-null object
relationship       39073 non-null object
race               39073 non-null object
gender             39073 non-null object
capital-gain       39073 non-null int64
capital-loss       39073 non-null int64
hours-per-week     39073 non-null int64
native-country     39073 non-null object
Unnamed: 15        0 non-null float64
Prediction         39073 non-null bool
dtypes: bool(1), float64(1), int64(7), object(8)
memory usage: 4.8+ MB

In [6]:
df.drop(['Unnamed: 15'],axis=1,inplace=True)

In [7]:
df.head()

,Sr.No.,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,Prediction
0,42575,27,Private,134566,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,False
1,2531,20,?,175431,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,False
2,42008,18,Private,57108,11th,7,Never-married,Sales,Own-child,White,Male,0,0,16,United-States,False
3,21107,20,Private,147171,Some-college,10,Never-married,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,False
4,28313,47,Private,102771,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,Portugal,False

In [8]:
test.head()

,Sr.No.,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,23509,18,Private,260801,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States
1,38928,36,Self-emp-inc,183898,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,0,0,60,United-States
2,23796,29,Private,209934,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico
3,31209,32,Private,263908,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
4,37938,69,Self-emp-not-inc,204645,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,72,United-States

In [9]:
categorical = ['workclass','marital-status','education','race', 'gender','native-country','occupation','relationship']

In [10]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()
for col in categorical:
    
    le.fit(df[col])
    df[col] = le.transform(df[col])
    test[col] = le.transform(test[col])

In [17]:
len(df)

39073

In [16]:
len(df[df['Prediction']==False])

29696

In [11]:
X = df.drop(['Prediction'],axis = 1)

In [12]:
y = df['Prediction']

In [13]:
test

,Sr.No.,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,23509,18,4,260801,11,9,4,6,3,4,1,0,0,20,39
1,38928,36,5,183898,9,13,0,12,1,4,1,0,0,60,39
2,23796,29,4,209934,4,3,2,8,0,4,1,0,0,40,26
3,31209,32,4,263908,9,13,2,10,0,4,1,0,0,40,39
4,37938,69,6,204645,15,10,2,3,0,4,1,9386,0,72,39
5,46330,56,1,187873,12,14,0,1,4,4,0,0,0,40,39
6,31812,47,4,265275,15,10,4,8,3,4,1,0,0,40,39
7,29778,58,4,343957,9,13,0,12,1,4,1,0,0,50,39
8,27171,23,4,289982,11,9,4,12,1,4,0,0,0,40,39
9,42282,59,6,247552,11,9,2,4,0,4,1,0,0,40,39
10,48759,21,4,182117,7,12,4,8,3,4,1,0,0,40,39
11,35835,30,4,323069,9,13,4,12,1,4,0,0,0,40,39
12,32756,39,4,248694,11,9,4,3,1,4,1,0,0,60,39
13,48499,37,4,186009,11,9,2,14,0,4,1,0,1672,60,39
14,25992,48,4,102938,9,13,4,8,4,1,0,0,0,40,40
15,32463,56,4,145574,11,9,2,3,0,4,1,0,0,40,39
16,11849,27,4,110663,11,9,2,12,0,4,1,0,0,50,39
17,29589,45,4,88500,15,10,2,7,0,4,1,0,0,44,39
18,35050,30,1,76313,11,9,2,2,2,0,1,0,0,48,39
19,16308,54,0,180211,15,10,2,0,0,1,1,0,0,60,35
20,6372,33,4,460408,9,13,2,10,0,4,1,0,0,40,26
21,15100,31,4,274818,15,10,4,1,1,4,0,0,0,40,39
22,28380,38,4,269323,11,9,2,1,0,4,1,0,0,40,39
23,3190,37,2,347136,15,10,0,1,1,4,0,0,0,44,39
24,7058,25,4,201481,9,13,4,4,1,4,0,0,0,40,39
25,2861,25,4,54298,11,9,2,12,0,4,1,0,0,30,39
26,21466,21,4,206861,15,10,4,12,3,4,1,0,0,20,0
27,39004,34,4,203488,9,13,2,12,0,4,1,15024,0,40,39
28,15318,17,4,160029,1,7,4,12,3,4,0,0,0,14,39
29,43617,26,6,118523,11,9,2,1,0,4,1,0,0,40,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,23905,43,1,203637,9,13,2,1,0,4,1,7298,0,40,39
9740,585,21,4,448026,15,10,4,11,3,4,1,2907,0,30,39
9741,35867,28,4,163320,11,9,4,14,3,4,1,0,0,40,39
9742,6902,30,4,415266,11,9,2,13,0,4,1,0,0,40,39
9743,45525,38,4,60313,11,9,4,3,1,4,1,0,0,40,39
9744,11213,37,4,81965,15,10,0,8,4,4,0,0,0,25,39
9745,25686,45,2,175958,6,5,4,8,3,4,1,0,0,40,39
9746,37584,34,4,111746,11,9,5,3,1,4,1,0,0,45,32
9747,9241,44,1,55363,9,13,2,10,0,4,1,0,1887,40,39
9748,17348,36,4,29984,2,8,2,14,0,4,1,0,0,40,39
9749,6030,26,4,219199,11,9,4,6,1,4,1,0,0,40,39
9750,1411,59,4,193375,12,14,2,10,5,4,0,0,0,10,39
9751,33716,69,6,29980,5,4,4,5,2,4,1,1848,0,10,39
9752,20440,25,4,306666,15,10,2,12,0,2,1,0,0,45,39
9753,23935,38,1,122493,9,13,2,10,0,4,1,4064,0,40,39
9754,19027,57,4,296152,15,10,0,4,2,4,0,594,0,10,39
9755,10681,30,4,226525,0,6,0,14,3,4,1,0,0,40,39
9756,12882,24,4,186666,15,10,2,3,0,4,1,0,0,50,39
9757,20015,18,4,148644,11,9,4,12,3,4,0,0,0,28,39
9758,41841,60,2,202473,8,11,2,8,0,4,1,0,0,40,39
9759,40163,32,4,398988,9,13,4,4,1,4,1,0,0,40,39
9760,42505,21,2,218445,15,10,4,1,3,4,0,0,0,40,26
9761,26625,33,6,249249,4,3,2,3,0,4,1,0,0,50,39
9762,32121,27,4,205440,0,6,2,7,0,4,1,0,0,40,39
9763,46852,47,4,104521,8,11,2,10,0,4,1,0,0,40,39
9764,8643,31,4,157568,15,10,4,1,1,4,1,0,0,40,39
9765,817,21,7,204034,15,10,4,8,1,4,0,0,0,16,39
9766,31663,51,4,108435,12,14,2,10,0,4,1,0,0,47,39
9767,3617,29,4,131913,15,10,4,1,2,2,0,0,0,40,39
9768,46485,27,4,243569,1,7,2,6,0,4,1,3942,0,40,39

In [14]:
clf = RandomForestClassifier()

In [53]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.33,random_state=42)

In [54]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [115]:
best_clf.get_params

<bound method XGBModel.get_params of XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)>

In [99]:
clf = RandomForestClassifier()        #Initialize the classifier object

parameters = {'n_estimators':[70,100,130],'max_features':['log2'],'n_jobs':[2]}    #Dictionary of parameters

scorer = make_scorer(accuracy_score)         #Initialize the scorer using make_scorer

grid_obj = GridSearchCV(clf,parameters,scoring=scorer)         #Initialize a GridSearchCV object with above parameters,scorer and classifier

grid_fit = grid_obj.fit(X_train,y_train)        #Fit the gridsearch object with X_train,y_train

best_clf = grid_fit.best_estimator_         #Get the best estimator. For this, check documentation of GridSearchCV object

unoptimized_predictions = (clf.fit(X_train, y_train)).predict(X_test)      #Using the unoptimized classifiers, generate predictions
optimized_predictions = best_clf.predict(X_test)        #Same, but use the best estimator

acc_unop = accuracy_score(y_test, unoptimized_predictions)*100       #Calculate accuracy for unoptimized model
acc_op = accuracy_score(y_test, optimized_predictions)*100         #Calculate accuracy for optimized model

print("Accuracy score on unoptimized model:{}".format(acc_unop))
print("Accuracy score on optimized model:{}".format(acc_op))

Accuracy score on unoptimized model:85.4905001938736
Accuracy score on optimized model:85.97130670802636

In [ ]:
clf = XGBClassifier()        #Initialize the classifier object

parameters = {'n_estimators':[150,200,250],'max_depth':[3,5,6],'learning_rate':[0.1,0.05,0.2],'n_jobs':[2]}    #Dictionary of parameters

scorer = make_scorer(accuracy_score)         #Initialize the scorer using make_scorer

grid_obj = GridSearchCV(clf,parameters,scoring=scorer)         #Initialize a GridSearchCV object with above parameters,scorer and classifier

grid_fit = grid_obj.fit(X_train,y_train)        #Fit the gridsearch object with X_train,y_train

best_clf = grid_fit.best_estimator_         #Get the best estimator. For this, check documentation of GridSearchCV object

unoptimized_predictions = (clf.fit(X_train, y_train)).predict(X_test)      #Using the unoptimized classifiers, generate predictions
optimized_predictions = best_clf.predict(X_test)        #Same, but use the best estimator

acc_unop = accuracy_score(y_test, unoptimized_predictions)*100       #Calculate accuracy for unoptimized model
acc_op = accuracy_score(y_test, optimized_predictions)*100         #Calculate accuracy for optimized model

print("Accuracy score on unoptimized model:{}".format(acc_unop))
print("Accuracy score on optimized model:{}".format(acc_op))

In [109]:
y_pred = clf.predict(test)

In [110]:
y_pred = [str(i).upper() for (i) in y_pred]

In [111]:
ind = test['Sr.No.']

In [112]:
len(y_pred)

9769

In [113]:
sol = pd.DataFrame(data = y_pred, index = ind)

In [114]:
sol.to_csv('ans.csv')